.teach {
    /* height: 80vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.teach h1{
    text-align: center;
    
}

.teach p{
    margin: 0;
    
}

.teach_sections {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.teach-arms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
}

.teach-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teach .teach-buttons button{
    margin: .5rem;
    width: 10rem;
    padding: .8rem;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    background-color: #3700ff;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin: 2rem; */
    text-align: center;


}

.teach .teach-buttons button:hover {
    background-color: #1b0666;
}