.teach {
    /* height: 80vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.teach h1 {
    text-align: center;
    margin: 1rem 0;
}

.teach p {
    margin: 0;

}

.teach_sections {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    
}

.teach-arms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
}

.teach-buttons:nth-child(5){
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(14, 12, 26);
    border-radius: .5rem;
    padding: .2rem 0;
    margin: 2rem 3rem;
}

.teach .teach-buttons button{
    margin: .5rem;
    width: 10rem;
    padding: .8rem;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    background-color: #3700ff;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin: 2rem; */
    text-align: center;
}

.teach .teach-buttons button:hover {
    background-color: #1b0666;
}

.teach-ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}

.teach-ball_indicator {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.teach-ball_indicator-light {
    border-radius: 50%;
    /* background-color: rgb(30, 255, 0); */
    width: 1rem;
    height: 1rem;
}


.teach-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.teach-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.teach-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.teach-switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3700ff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .teach-switch-slider {
        background-color: rgb(16, 19, 36);
}

input:focus + .teach-switch-slider {
    box-shadow: 0 0 1px #3700ff;
}

input:checked + .teach-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.teach-switch-slider.teach-round {
    border-radius: 34px;
}

.teach-switch-slider.teach-round:before {
    border-radius: 50%;
}

.teach-round_slider {
    -webkit-appearance: none;
    width: 100%;
    height: .4rem;
    border-radius: 5px;
    background: rgb(16, 19, 36);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.teach-round_slider:hover {
    opacity: 1;
}

.teach-round_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #3700ff;
    cursor: pointer;
}

.teach-round_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3700ff;
    cursor: pointer;
}
