.teach {
    /* height: 80vh; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.teach h1{
    text-align: center;
    
}

.teach p{
    margin: 0;
    
}

.teach_sections {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.teach-arms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-around;
}

.teach-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.teach .teach-buttons button{
    margin: .5rem;
    width: 10rem;
    padding: .8rem;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    background-color: #3700ff;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin: 2rem; */
    text-align: center;


}

.teach .teach-buttons button:hover {
    background-color: #1b0666;
}

.teach-ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}

.teach-ball_indicator {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.teach-ball_indicator-light {
    border-radius: 50%;
    /* background-color: rgb(30, 255, 0); */
    width: 1rem;
    height: 1rem;
}


.teach-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .teach-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .teach-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .teach-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .teach-slider {
    background-color: #3700ff;
  }
  
  input:focus + .teach-slider {
    box-shadow: 0 0 1px #3700ff;
  }
  
  input:checked + .teach-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .teach-slider.teach-round {
    border-radius: 34px;
  }
  
  .teach-slider.teach-round:before {
    border-radius: 50%;
  }